.editor-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.editor-wrapper .button-format {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.editor-wrapper:hover .button-format {
  opacity: 1;
}

